<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		
  	})
  /* 
  	function goPost(path,params,method){
		method = method || "POST";
		var form = document.createElement("form");
		form.setAttribute("method",method);
		form.setAttribute("action",path);
		for( var key in params){
			var hiddenField = document.createElement("input");
			hiddenField.setAttribute("type","hidden");
			hiddenField.setAttribute("name",key);
			hiddenField.setAttribute("value",params[key]);
			form.appendChild(hiddenField);
		}
		
		document.body.appendChild(form);
		form.submit();   
		
	} */
  </script>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
  <h2>Unregister Form</h2>
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="button" class="btn btn-secondary" id="deleteUserButton">Unregister</button>
</div>
<script type="text/javascript">
	
	$('#deleteUserButton').click(function() { 
		var jsonData = JSON.stringify({
			username : $("#username").val(),
			password : $("#password").val()
		});
		$.ajax({
			url: "/deleteUser",
			type: "DELETE",
			data: jsonData,
			contentType: "application/json",
			success: function(){ 
				alert("삭제완료 되었습니다");
				location.href="/logout";
			}
		}); 
	});
</script>
</body>

</html>